
# 所有请求都会带上的，这个是jd的cookie
COOKIE:
  "ejk2kc"

# 这个是更改订单的配送方式的请求body，直接copy的，在不同配送方式时这个应该不一样
PAY_SHIP_REQUEST_BODY:
  "dsjkl"

# 这个是要买的商品id
product_id: "100015521004"

# 这个是用户的key，固定值，不同的用户应该不同，但是同一个用户，所有请求都是一样的。主要在api里面使用
user_key: "9fdjk-fejwklw211-251"

# 多商品的购买方式
# OneOf代表所有商品id同时开始购买，其中一个开放购买，则立刻下单，这种情况下，一个订单下完以后能买到几个不确定
# Relay代表按照商品id顺序进行购买（即从第一个开始抢购，第一个完成（无论成功或失败）再购买第二个）
rush_type: Relay

# 快速轮询间隔
fast_polling_interval: 10

# 满速轮询间隔
slow_polling_interval: 100

# 目标时间
target_time: 
  hour: 14
  minute: 1
